
<br><br>
<%= form_tag(articles_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Articles</h1>
Our blog has <%= Article.public_count %> articles and counting!

<p>
<strong>Order: </strong>
  <%= link_to "latest", articles_path(sort_type: 'latest') %>
  <%= link_to "oldest", articles_path(sort_type: 'oldest') %>
  <%= link_to "by title", articles_path(sort_type: 'title') %>
</p>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @articles %>
<br>
<%= link_to "New Article", new_article_path %>
