<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.image.present? %>
   <div style="width:400px;">
    <%= image_tag(@article.image, style:'width:100%') %>
  </div>
<% end %>

<% if @article.author.present? %>
<p>
  <strong>Author: </strong>
  <i><%= @article.author.username %></i>
</p>
<% end %>

<ul>
  <% if policy(@article).update? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <% end %>
  <% if policy(@article).destroy? %>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>
