<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure ?'} %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %>
      <% end %>
    </header>
    <p><%= notice %></p>
    <p><%= alert %></p>
  <%= link_to 'Home', articles_path %>
  <%= yield %>
  </body>
</html>
